* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #0f2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2c5364, #203a43, #0f2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2c5364, #203a43, #0f2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .piano {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .key {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 20px;
  }
  
  .white {
    width: 10%;
    min-width: 60px;
    height: 70%;
    background-color: white;
    border: 1px solid #ccc;
    color: #000;
  }
  
  .black {
    width: 8%;
    height: 45%;
    margin-left: -4%;
    margin-right: -4%;
    z-index: 2;
    background-color: black;
    color: #fff;
  }
  
  .white.active {
    background-color: #ccc;
  }
  
  .black.active {
    background-color: #333;
  }

  .white.active.correct{
    background-color: #7CB68E;/*#6CAC7F;*/
  }

  .black.active.correct{
    background-color: #7CB68E;
  }


  .white.active.wrong{
    background-color: red;
  }
  .black.active.wrong{
    background-color: red;
  }

  
  .scoreboard{
    height: 100vh;
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  .score-text{
    color: red;
    font-size: 5vh;
    font-family: "Lucida Console", "Courier New", monospace;
  }

  .score-score{
    color: pink;
    margin-top: -12rem;
  }

  .notes{
    margin-top: -0rem;
  }

  #btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px 120px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    left: 74.5%;
    bottom: 45%;
    border-radius: 12px;
  }

  #btn-mode{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px 85px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    left: 74.5%;
    bottom: 25%;
    border-radius: 12px;
  }


  .actual-notes{
    position: absolute;
    top: 2.5%;
    z-index:3
  }

  .C{
    left: 4.5%;
  }

  .Cs{
    left: 9.5%;
    color:white;
  }

  .D{
    left: 14.5%;
  }

  .Ds{
    left: 19.5%;
    color: white;
  }

  .E{
    left: 24.5%;
  }

  .F{
    left: 34.5%;
  }

  .Fs{
    left: 39.5%;
    color: white;
  }

  .G{
    left: 44.5%;
  }

  .Gs{
    left: 49.5%;
    color: white;
  }

  .A{
    left: 54.5%;
  }

  .As{
    left: 59.5%;
    color: white;
  }

  .B{
    left: 65.5%;
  }